.mainInfo {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.view {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translate(-50%, 20px);
  display: none;
}
.view.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, 0);
}
/* Target <a> tag within the class btn-group */
.btn-group a {
  text-decoration: none;
  color: black;
  margin: 1%;
  display: block;
  white-space: nowrap;
}

.btn-group {
  position: absolute;
  top: 0px;
  right: 0px;
}
