* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

p {
  position: absolute;
  color: white;
  font-size: 100px;
  font-family: Playfair Display;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1rem;
  font-family: Playfair Display;
  right: 0;
  margin: 0.75rem 0.75rem 0 0;
  text-align: right;
  gap: 0.075rem;
}

.navbar > div {
  transition: color 1s ease, mix-blend-mode 1s ease;
  z-index: 999;
}

.navbar > div:hover {
  color: #ff6347;
  mix-blend-mode: multiply;
  transition: color 1s ease, mix-blend-mode 1s ease;
}

.home-navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  z-index: 999;
  font-size: 3rem;
  font-family: Playfair Display;
  margin: 0.75rem 0 0 0.75rem;
}

.home-navbar > div {
  transition: color 1s ease, mix-blend-mode 1s ease;
}

.home-navbar > div:hover {
  color: #ff6347;
  mix-blend-mode: multiply;
  transition: color 1s ease, mix-blend-mode 1s ease;
}

.social-navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-family: Playfair Display;
  margin-left: 0.75rem;
  bottom: 0.75rem;
  left: 0;
  text-align: right;
  gap: 0.95rem;
}

.social-navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: color 0.5s ease, mix-blend-mode 0.5s ease;
}

.social-navbar a:hover {
  color: #ff6347;
  mix-blend-mode: multiply;
  transition: color 0.5s ease, mix-blend-mode 0.5s ease;
}

#linktree {
  display: inline-flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

.center {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
